
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.menubar{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color: #917250;
    height: 80px;
    width: 100%;
    
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block; 
    line-height: 80px;
    margin: 0px 10px;
}
nav ul li a{
    color: #ffffff;
    text-align:center;
    font-size:18px;
    padding: 10px 13px;
    border-radius: 13px;
    text-decoration: none;
}
/* nav compl. */
.horizontall{
    text-align: right;
}
.orange-color{
    color: orange;
}
.gray-color{
    color:darkslategray;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
}
h3{
    font-size: 30px;
    color: teal;
}
h4{
    font-size: 20px;
    color: teal;
}
p{
    /* margin-top: 10%;
    padding-right: 5%; */
    color: dimgray;
    font-size: 23px;
}
section{
    width: 100%;
}
.text-center{
    text-align: center;
}
.half-width{
    width: 27%;
    float: left;
    margin: 3%;
    padding: 3px;
}
.backg-width{
    width: 27%;
    float: left;
    margin: 3%;
    padding: 3px;
}
.background-images{
    width: 36%;
    float: left;
    margin: 6%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.button-link{
    padding: 10px 20px;
    background-image: linear-gradient(#f39191, #fa5454, red);
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
.section-area{
    float: left;
}
.box-shado{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 90%;
}
.text-img-center{
    text-align: center;
}
.horizontall{
    text-align: right;
    margin-top: 30px;
    
}
.example1 {
    color: white;
    margin:23%;
    padding: 70px;
    background-image: url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: contain, cover;
  }
div h1 a{
    display: inline-block;
}